@tailwind base;
@tailwind components;
@tailwind utilities;
a{
    cursor: pointer;
}
button{
    border:none
}
body{
    width: 100vw;
    height: 100vh;
}

.primary-blue{
    --primary: #2AA3EF;
    --primary-dark: #0166a5;
}

.primary-teal{
    --primary: #4FD8E0;
    --primary-dark: #018188;
}
.primary-green{
    --primary: #27BE67;
    --primary-dark: #008537;
}


.bg-dark{
    --background: #15202B;
    --background_light: rgba(42, 163, 239, 0.04);
    --color: #f1f1f1;
    background: var(--background);
    color:var(--color)
}
.bg-dark-gradient{
    --background: #15202B;
    --background_light: rgba(42, 163, 239, 0.04);
    background: linear-gradient(250deg, var(--primary-dark)  -300%, #15202B 100%);
    --color: #f1f1f1;
    color:var(--color)
}


.bg-light{
    --background: #f1f1f1;
    --background_light: rgba(42, 163, 239, 0.04);
    --color: #15202B;
    background: var(--background);
    color:var(--primary-dark);
}
.bg-light-gradient{
    --background: #f1f1f1;
    --background_light: rgba(42, 163, 239, 0.04);
    --color: #15202B;
    background: linear-gradient(250deg, var(--primary)  -300%, #f1f1f1 100%);
    color:var(--primary-dark);
}


